// custom SCSS (or CSS) goes here

.site-title::before {
  background: url("/assets/images/aisleron-192x192.png") no-repeat center center;
  display: inline-block;
  position: relative;
  width: 35px;
  height:35px;
  content: "";
  margin-inline-end: 10px;
  background-size: contain;
}

.app-description {
  margin-left: 56px;
}

.app-icon {
  width: 40px;
  clear: both;
  margin-top: 8px;
  margin-bottom: 0px;
  float: left;
}

.mx-auto img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.v-align-middle img {
  vertical-align: middle;
}


/*
(none)	  All screens until the next modifier
xs	320px   (20rem) and up
sm	500px   (31.25rem) and up
md	740px   (46.25rem) and up
lg	1120px  (70rem) and up
xl	1400px  (87.5rem) and up
*/

.clear-float {
  clear: both;
}

/* Float to the right on screens that are equal to or greater than 740px wide */
@media screen and (min-width: 740px) {
  .float-md-right {
    float: right;
    margin-left: 1rem !important;
  }

  .float-md-left {
    float: left;
    margin-left: 1rem !important;
  }
} 