// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.site-title::before {
  background: url("/assets/images/Aisleron-192x192.png") no-repeat center center;
  display: inline-block;
  position: relative;
  width: 35px;
  height:35px;
  top: 10px;
  content: "";
  margin-inline-end: 10px;
  background-size: contain;
}
